 body {
   font-family: 'Roboto', sans-serif; ;
 }

button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  color: #1D1D1D;
}

.header__button_black {
  color: #FFFFFF;
}

.header__aside h1 {
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
color: #1D1D1D;
text-align: center;
position: relative;
top: 38px;
}

.header__aside_form {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 13px;
  color: #626262;
}
.header__aside_form input {
  font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
color: #FFFFFF;
}

.main__menu li {
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
list-style-type: none;
color: #626262;
}

.main__title {
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 34px;
color: #1D1D1D;
}

.main__article_section_text_cash {
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 21px;
color: #1D1D1D;
}

.footer__conteiner_info {
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
color: #FFFFFF;
}