@import url("fonts.css");

.header {
  max-width: 1124px;
  height: auto;
}
.header__navigator {
  display: flex;
  margin: 0px 88px 0 80px;
  align-items: flex-start;
  justify-content: space-between;
  width: 1000px;
  height: 72px;
}

.header__logo {
  margin-top: 21px;
}
.header__form {
  display: flex;
  margin: 8px 44px 0 0px;
  justify-content: space-between;
  width: 232px;
  height: 72px;
}
.header__button {
  width: 80px;
  height: 40px;

}

.header__button:hover {
  background: #57AD56;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: .5s ease-in-out; 
}

.header__button_white {
  border: 1px solid #E0E0E0;
box-sizing: border-box;
border-radius: 2px;

}

.header__button_black {
  border: 1px solid #262626;
  box-sizing: border-box;
  border-radius: 2px;
  background: #262626;
}
.header__basket {
  width: 40px;
  background: url(../img/basket.png);
  margin-top: -16px;
}

.header__basket:hover {
  background: url(../img/basket.svg)no-repeat;
    position: relative;
    top: 24px;
    left: 11px;
  
}

.header__sidebar {
  background: url(../img/header_nav.png) no-repeat;
  height: 365px;
  margin-top: -44px;
}

.header__aside {
  left: 80px;
  width: 389px;
  height: 204px;
  background: #FFFFFF;
  box-shadow: 0px 0px 16px rgb(117 117 117 / 20%);
  border-radius: 2px;
  position: relative;
  top: 80px;
}

.header__aside_form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 55px 33px 0 38px;
}
.header__aside_form input {
  width: 97px;
  height: 32px;
  border: 1px solid #262626;
  box-sizing: border-box;
  border-radius: 16px;
  background: #262626;
}
.header__aside_form input:hover {
  background: #57AD56;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: .5s ease-in-out; 
}

.main {
  width: 1124px;
  height: auto;
}
.main__menu {
  display: flex;
  margin: 31px 13px 0 40px;
  align-items: flex-start;
  justify-content: space-between;
  width: 605px;
  height: 72px;
}
.main__menu li:hover {
  color: #57AD56;
  cursor: pointer;
  transition: .5s ease-in-out; 
}

.main__title {
  position: relative;
    left: 80px;
    top: 11px;}


.main__article {
  margin: -28px 0px 0 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 957px;
  height: auto;
}

.main__article_section {
  width: 470px;
  height: 160px;
  margin-top: 47px;
  border: oldlace solid 0.5px;
  transition: .5s cubic-bezier(0.47, 0.02, 0.33, 0.71);
}

.main__article_section:hover {
  background: #e0dfdb;
    mix-blend-mode: normal;
    opacity: 0.9;
}


.main__article_section_img {
  float: right;
}

.main__article_section h4 {
  position: relative;
    left: 16px;
    top: -3px;
}

.main__article_section_text {
  position: relative;
  left: 16px;
  top: -14px;
  font-size: 13px
}

.main__article_section_text_cash1 {
  position: relative;
  top: 33px;
  left: 15px;
}

.main__article_section_text_cash {
  position: relative;
  top: 62px;
  left: 15px;
}

